@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: Recoleta;
  src: url('./media/Recoleta-Medium.ttf');
  font-weight: 600;
  font-style: normal;
}
:root {
  --color-wh: #fbfaf7;
  --bg-but-dark: #198c36;
  --bg-dark: #163a24;
  --font-title: Recoleta;
  --font-span: 'Noto Sans', sans-serif;
  --bg-but-light: #fab5a0;
  --bg-light: #f2efe6;
  --bg-but-green: #15762e;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  header {
    background-color: var(--bg-dark);
    height: 642px;
    width: 100%;
    padding-top: 20px;
    .head {
      width: 1180px;
      height: 58px;

      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .nav {
        color: var(--color-wh);
        font-family: var(--font-span);
        font-weight: 400;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        button {
          color: var(--color-wh);
          border: none;
          background-color: inherit;
          font-family: var(--font-span);
          font-weight: 400;
          font-size: 16px;
        }
        .btn {
          background-color: var(--bg-but-dark);
          width: 141px;
          height: 52px;
          border-radius: 160px;
        }
      }
    }
    .box {
      display: flex;
      flex-direction: row;
      height: 544px;
      width: 1180px;
      align-items: center;
      margin: 0 auto;
      margin-top: 42px;
      .content {
        width: 492px;
        height: max-content;
        display: flex;
        flex-direction: column;

        h1 {
          font-weight: 600;
          font-family: var(--font-title);
          font-size: 48px;
          width: 391px;
          color: var(--color-wh);
        }
        span {
          width: 475px;
          font-family: var(--font-span);
          font-weight: 400;
          font-size: 18px;
          color: var(--color-wh);
        }
      }
    }
  }
  .partners {
    width: 100%;
    height: 1226px;
    margin-top: 100px;

    .container {
      width: 1180px;
      height: 510px;

      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .content {
        color: var(--bg-dark);
        display: flex;
        flex-direction: column;
        height: max-content;

        h2 {
          font-family: var(--font-title);
          font-weight: 600;
          font-size: 48px;
          width: 376px;
        }
        span {
          width: 374px;
          font-family: var(--font-span);
          font-weight: 400;
          font-size: 18px;
        }
      }
    }
    .footer {
      width: 1180px;
      height: 294px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .img {
        width: 984px;
        height: 60px;
        display: flex;
        flex-direction: row;

        justify-content: space-around;
      }
      div {
        h2 {
          font-family: var(--font-title);
          font-weight: 600;
          font-size: 48px;
          color: var(--bg-dark);
        }
      }
    }
  }
  .hr {
    width: 100%;
    height: 568px;
    margin-top: 100px;
    background-color: var(--bg-dark);
    color: var(--color-wh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    div {
      h2 {
        font-family: var(--font-title);
        font-weight: 600;
        font-size: 48px;
      }
    }
    .container {
      width: 1180px;
      height: 254px;
      display: flex;
      flex-direction: row;
      .item {
        width: 295px;
        height: 239px;
        display: flex;
        flex-direction: column;
        font-family: var(--font-span);
        font-weight: 400;
        font-size: 18px;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .casting {
    width: 100%;
    height: 775px;
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .box {
      height: 536px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .content {
        color: var(--bg-dark);
        width: 786px;
        height: 200px;
        text-align: center;
        z-index: 999;
        h2 {
          font-family: var(--font-title);
          font-weight: 600;
          font-size: 48px;
        }
        span {
          font-family: var(--font-span);
          font-weight: 400;
          font-size: 18px;
        }
      }
    }
  }
  .working {
    width: 1180px;
    height: 427px;
    margin: 0 auto;
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--bg-dark);
    .content {
      width: 379px;
      h2 {
        font-family: var(--font-title);
        font-weight: 600;
        font-size: 48px;
      }
      span {
        font-family: var(--font-span);
        font-weight: 400;
        font-size: 18px;
      }
    }
  }
  .help {
    width: 100%;
    height: 549px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      color: var(--bg-dark);
      text-align: center;
      h2 {
        font-family: var(--font-title);
        font-weight: 600;
        font-size: 48px;
      }
      span {
        font-family: var(--font-span);
        font-weight: 400;
        font-size: 18px;
      }
    }
    .cards {
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      gap: 30px;
      .card {
        width: 353px;
        height: 393px;
        background-color: var(--color-wh);
        box-shadow: 5px 5px 20px #e9e4d5;
        border-radius: 15px;
        color: var(--bg-dark);
        padding-top: 40px;
        padding-left: 40px;
        h3 {
          font-family: var(--font-title);
          font-weight: 600;
          font-size: 28px;
          width: 285px;
        }

        li {
          font-family: var(--font-span);
          font-weight: 400;
          font-size: 16px;
          margin-top: 20px;
        }
      }
      .cardLen {
        height: 430px;
      }
    }
  }
  .steps {
    width: 100%;
    height: 602px;
    margin-top: 200px;
    background-color: var(--bg-light);
    color: var(--bg-dark);
    display: flex;
    align-items: center;
    .box {
      width: 100%;
      height: 422px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .title {
        text-align: center;
        h2 {
          font-family: var(--font-title);
          font-weight: 600;
          font-size: 47px;
        }
        span {
          font-family: var(--font-span);
          font-weight: 400;
          font-size: 18px;
        }
      }
      .step {
        height: 187px;
        width: 1180px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .img {
          position: absolute;
          right: 185px;
          width: 290px;
          height: 183px;
        }
        img {
          width: 75px;
          height: 36px;
        }
        .item {
          position: relative;
          width: 263px;
          height: 141px;
          text-align: center;

          h4 {
            font-family: var(--font-title);
            font-weight: 600;
            font-size: 28px;
          }
          span {
            font-family: var(--font-span);
            font-weight: 400;
            font-size: 18px;
          }
        }
      }
      .btn {
        button {
          width: 244px;
          height: 52px;
          border-radius: 160px;
          background-color: var(--bg-but-dark);
          color: var(--color-wh);
          border: none;
          font-family: var(--font-span);
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
  }
  .book {
    width: 1180px;
    height: 514px;
    margin: 0 auto;
    margin-top: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .content {
      width: 394px;
      height: 249px;
      color: var(--bg-dark);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title {
        font-family: var(--font-title);
        font-weight: 600;
        font-size: 48px;
      }
      span {
        font-family: var(--font-span);
        font-weight: 400;
        font-size: 18px;
      }
      button {
        width: 191px;
        height: 52px;
        background-color: var(--bg-but-dark);
        border-radius: 160px;
        font-family: var(--font-span);
        font-weight: 400;
        font-size: 16px;
        color: var(--color-wh);
        border: none;
      }
    }
    .img {
    }
  }
  .book2 {
    width: 100%;
    height: 415px;
    margin-top: 100px;
    background-color: var(--bg-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .fon {
      margin-top: 24px;
    }
    .content {
      display: flex;
      flex-direction: column;
      height: 175px;
      justify-content: space-between;
      align-items: center;
      color: var(--color-wh);
      .title {
        font-family: var(--font-title);
        font-weight: 600;
        font-size: 48px;
      }
      span {
        font-family: var(--font-span);
        font-weight: 400;
        font-size: 18px;
      }
      button {
        color: var(--bg-dark);
        font-family: var(--font-span);
        font-weight: 600;
        font-size: 16px;
        width: 258px;
        height: 52px;
        border: none;
        border-radius: 160px;
        background-color: var(--bg-but-light);
      }
    }
  }
  .form {
    width: 100%;
    height: 240px;
    background-color: var(--bg-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: var(--bg-dark);
      .title {
        font-family: var(--font-title);
        font-weight: 600;
        font-size: 48px;
      }
      span {
        font-family: var(--font-span);
        font-weight: 400;
        font-size: 18px;
      }
    }
    .inp {
      font-family: var(--font-span);
      font-weight: 400;
      width: 590px;
      height: 120px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      form {
        .text {
          position: relative;
          width: 553px;
          height: 54px;
          background-color: white;
          border-radius: 255px;
          border: none;
          font-size: 18px;
          padding-left: 15px;
        }
        .btn {
          position: absolute;
          right: 140px;
          background-color: var(--bg-but-dark);
          color: var(--color-wh);
          width: 111px;
          height: 54px;
          border: none;
          border-radius: 160px;
          font-size: 16px;
        }
      }
      span {
        font-size: 14px;
        a {
          text-decoration: none;
          color: var(--bg-but-dark);
        }
      }
    }
  }
  footer {
    width: 1180px;
    height: 194px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .head {
      height: 84px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .title {
        color: var(--bg-dark);
        font-family: var(--font-title);
        font-weight: 600;
        font-size: 24px;
      }
      .links {
        display: flex;
        gap: 10px;
      }
    }
    hr {
      width: 100%;
      border: 1px solid var(--bg-light);
    }
    .links {
      height: 49px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-family: var(--font-span);
      font-weight: 400;

      .content {
        span {
          color: var(--bg-dark);
          font-size: 14px;
        }
      }
      .link {
        display: flex;
        flex-direction: row;
        gap: 10px;
        a {
          text-decoration: none;
          color: var(--bg-but-dark);
          font-size: 14px;
        }
      }
    }
  }
}
